<div class="container-fluid">
    <h1 class="page-header"><a ng-href="/">Open-Awesome</a></h1>

    <div class="row">
        <div class="col-sm-4">
            <h2>Systems</h2>
            <table class="table table-bordered table-condensed" dynatable>
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Type</th>
                    <th>IP Address</th>
                    <th>OS Name</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-8" ng-if="system">
            <div system-component="{system: system, name: 'sys', displayName: 'System'}"></div>
            <div system-component="{system: system, name: 'memory'}"></div>
            <div system-component="{system: system, name: 'motherboard'}"></div>
            <div system-component="{system: system, name: 'optical_drives'}"></div>
            <div system-component="{system: system, name: 'processor'}"></div>
            <div system-component="{system: system, name: 'scsi_controllers', displayName: 'SCSI Controllers'}"></div>
            <div system-component="{system: system, name: 'bios', displayName: 'BIOS'}"></div>
            <div system-component="{system: system, name: 'windows'}"></div>
            <div system-component="{system: system, name: 'addresses', displayName: 'Addresses'}"></div>
            <div system-component="{system: system, name: 'dns', displayName: 'DNS'}"></div>
            <div system-component="{system: system, name: 'printers'}"></div>
            <div system-component="{system: system, name: 'logs'}"></div>
            <div system-component="{system: system, name: 'pagefiles'}"></div>
            <div system-component="{system: system, name: 'users'}"></div>
            <div system-component="{system: system, name: 'routes'}"></div>
            <div system-component="{system: system, name: 'hard_disks'}"></div>
            <div system-component="{system: system, name: 'shares'}"></div>
            <div system-component="{system: system, name: 'services'}"></div>
            <div system-component="{system: system, name: 'database'}"></div>
            <div system-component="{system: system, name: 'monitors'}"></div>
            <div system-component="{system: system, name: 'network_cards'}"></div>
            <div system-component="{system: system, name: 'partitions'}"></div>
            <div system-component="{system: system, name: 'software_keys'}"></div>
            <div system-component="{system: system, name: 'sound_cards'}"></div>
            <div system-component="{system: system, name: 'video_cards'}"></div>
            <div system-component="{system: system, name: 'audit_wmi_fail', displayName: 'Audit WMI Fail'}"></div>
        </div>
    </div>
</div>
