<nav class="navbar navbar-default navbar-nomargin" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavbarExpanded = !isNavbarExpanded">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Open-Awesome</a>
        </div>
        <div class="collapse navbar-collapse" collapse="!isNavbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search" ng-submit="search({q: searchQuery})">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Search" ng-model="searchQuery"/>
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="!searchQuery.length">
                        <span class="fa fa-search"></span>
                    </button>
                </form>
            </ul>
        </div>
    </div>
</nav>

<div update-in-progress="searchResults">
    <div class="search-results-info">
        total results: {{ searchResults.total_count }}
    </div>
    <div ng-repeat="item in searchResults.items"
         system-component="{component: item.result._hit._source, name: item.result._hit._type}"
         ng-class-even="'search-result-even'"
         ng-class-odd="'search-result-odd'"></div>
    <div class="container-fluid">
        <ul class="pagination pull-right" ng-if="searchResults.num_items_per_page < searchResults.total_count">
            <li ng-class="{'disabled': searchResults.current_page_number == 1}">
                <span ng-click="setPage(1)"><span class="fa fa-chevron-left"></span></span>
            </li>
            <li ng-repeat="page in paginationIterator track by $index"
                ng-class="{'active': searchResults.current_page_number == $index+1}">
                <span ng-click="setPage($index+1)">{{$index + 1}}</span>
            </li>
            <li ng-class="{'disabled': searchResults.current_page_number == numberOfPages}">
                <span ng-click="setPage(numberOfPages)"><span class="fa fa-chevron-right"></span></span>
            </li>
        </ul>
    </div>
</div>
