<h3 ng-if="displayName">
    <span>{{ displayName|humanize }}</span>
    <span ng-if="component.icon">
        <i class="fa fa-fw" ng-class="iconClass(component.icon)"></i>
    </span>
</h3>
<table class="table table-condensed table-borderless">
    <tr ng-repeat="(key, value) in component" ng-if="value.length > 0">
        <th width="180px"> {{ key|humanize }}</th>
        <td ng-if="isString(value)">{{ value }}</td>
        <td ng-if="isArray(value)">{{ value.join }}</td>
    </tr>
</table>

<!--Multi-component item header templates-->
<script type="text/ng-template" id="/system-addresses-item-header.html">
    <span ng-if="item.ip_address_version == '4'"> {{item.ip_address_v4}}</span>
    <span ng-if="item.ip_address_version == '6'"> {{item.ip_address_v6}}</span>
</script>

<script type="text/ng-template" id="/system-dns-item-header.html">
    DNS Entry {{ $index + 1 }}
</script>

<script type="text/ng-template" id="/system-hard_disks-item-header.html">
    {{ item.hard_drive_caption }}
</script>

<script type="text/ng-template" id="/system-logs-item-header.html">
    {{ item.log_name }}
    <small> {{ item.log_file_size }}KB</small>

</script>

<script type="text/ng-template" id="/system-memory-item-header.html">
    {{ item.capacity }}MB
    <small>{{ item.bank }}</small>
</script>

<script type="text/ng-template" id="/system-monitors-item-header.html">
    {{ item.model }}
</script>

<script type="text/ng-template" id="/system-network_cards-item-header.html">
    {{ item.net_connection_id }}
    <small>{{ item.net_mac_address }}</small>

</script>

<script type="text/ng-template" id="/system-optical_drives-item-header.html">
    {{ item.optical_drive_caption }}
    <small> {{ item.optical_drive_mount_point }}</small>

</script>

<script type="text/ng-template" id="/system-pagefiles-item-header.html">
    {{ item.file_name }}
</script>

<script type="text/ng-template" id="/system-partitions-item-header.html">
    {{ item.partition_device_id }}
</script>

<script type="text/ng-template" id="/system-printers-item-header.html">
    {{ item.printer_name }}
    <small> {{ item.hostname }}</small>

</script>

<script type="text/ng-template" id="/system-routes-item-header.html">
    Route {{ $index + 1 }}<small> {{ item.destination }} - {{ item.protocol }}</small>
</script>

<script type="text/ng-template" id="/system-scsi_controllers-item-header.html">
    {{ item.name }}
</script>

<script type="text/ng-template" id="/system-services-item-header.html">
    <span ng-class="{'text-success': item.service_state == 'Running' && item.service_start_mode == 'Auto',
                     'text-warning': item.service_state == 'Running' && item.service_start_mode == 'Manual',
                     'text-danger': item.service_state == 'Stopped' && item.service_start_mode == 'Auto',
                     'text-info': item.service_state == 'Stopped' && item.service_start_mode == 'Manual',
                     'text-muted': item.service_state == 'Disabled' && item.service_start_mode == 'Manual'}">
        <i class="fa fa-circle"></i>
    </span>
    <span>{{ item.service_display_name }}</span>
    <small> {{ item.service_state }}</small>

</script>

<script type="text/ng-template" id="/system-shares-item-header.html">
    {{ item.share_name }}
    <small>{{ item.share_path }}</small>

</script>

<script type="text/ng-template" id="/system-software_keys-item-header.html">
    {{ item.key_name }}
    <small> {{ item.key_text }}</small>

</script>

<script type="text/ng-template" id="/system-software-item-header.html">
    {{ item.software_name }}
</script>

<script type="text/ng-template" id="/system-sound_cards-item-header.html">
    {{ item.sound_name }}
</script>

<script type="text/ng-template" id="/system-users-item-header.html">
    {{ item.user_name }}
    <small> {{ item.user_type }}</small>
</script>

<script type="text/ng-template" id="/system-video_cards-item-header.html">
    {{ item.video_description }}
</script>