/* app css stylesheet */

body {
    background-color: #2c3e50;
    color: #FFFFFF;
    /*margin-top: 50px;*/
}

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
    border: 0;
}

[ng-click]:hover {
    cursor: pointer;
    text-decoration: none;
}

.navbar-nomargin {
    margin: 0;
}

/* System Component
*/
div[system-component] {
    padding: 0;
}

.system-component-title {
    margin: 0;
    padding: 10px 21px 10px 21px;
    color: #FFFFFF;
}

.system-component-more-info-button {
    color: #007fff;
}

.system-component-more-info-button:hover {
    cursor: pointer;
    color: #0059b3;
}

.system-component-more-info {
    overflow-x: auto;
    margin: 0;
    padding: 0 21px 10px 21px;
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.system-component-more-info.ng-hide-add,
.system-component-more-info.ng-hide-remove {
    opacity: 0;
}

.system-component-more-info.ng-hide-add {
    opacity: 1;
}

/* Search
*/
.search-results-info {
    margin: 0;
    padding: 10px 21px 10px 21px;
    background-color: #2F2F2F;
}

.search-result-odd,
.search-result-even {
    background-color: #34495e;
    color: #FFFFFF;
    border-top: solid 1px #2c3e50;
}

.search-result-even {
    border-left: solid 1px #2c3e50;
}

/* Pagination
*/
.pagination>li>a, .pagination>li>span {
    background-color: #2F2F2F;
    color: #FFFFFF;
    border-color: #5F5F5F;
}

.pagination>.active>a, .pagination>.active>span,
.pagination>.active>a:hover, .pagination>.active>span:hover {
    background-color: #3F3F3F;
    border-color: #5F5F5F;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    background-color: #3F3F3F;
    color: #000000;
    border-color: #5F5F5F;
}

.pagination>.disabled>a, .pagination>.disabled>span,
.pagination>.disabled>a:hover, .pagination>.disabled>span:hover {
    background-color: #7F7F7F;
    border-color: #5F5F5F;
}