/* app css stylesheet */

body {
    background-color: #2c3e50;
    color: #FFFFFF;
    margin-top: 50px;
}

.table[dynatable] thead th {
    background-color: #DDDDDD;
    color: #000;
}

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
    border: 0;
}

/* System Component
*/
div[system-component] {
    padding: 0;
}

div[system-component] :hover {
    /*background-color: #2F2F2F;*/
    /*cursor: pointer;*/
}

.system-component-title {
    margin: 0;
    padding: 21px;
}

.system-component-more-info-button {
    color: #2F2F2F;
}

.system-component-more-info-button:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.system-component-more-info {
    overflow-x: auto;
    margin: 0;
    padding: 0 21px 10px 21px;
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.system-component-more-info.ng-hide-add,
.system-component-more-info.ng-hide-remove {
    opacity: 0;
}

.system-component-more-info.ng-hide-add {
    opacity: 1;
}

/* Search
*/
.search-result-odd,
.search-result-even {
    background-color: #34495e;
    color: #FFFFFF;
    border-top: solid 1px #2c3e50;
}

.search-result-even {
    border-left: solid 1px #2c3e50;
}
