<h3><span>Services</span><button ng-click="showMoreServices = !showMoreServices" class="btn btn-mini btn-default">More</button></h3>
<div ng-if="showMoreServices" ng-repeat="item in system.services">
    <h4>{{ item.service_display_name }}<small> {{ item.service_state }}</small></h4>
    <table class="table table-bordered table-condensed">
        <tr ng-repeat="(field, value) in item">
            <th width="180px">{{ humanize(field) }}</th>
            <td ng-if="isString(value)">{{ value }}</td>
            <td ng-if="isArray(value)">{{ value.join }}</td>
        </tr>
    </table>
</div>
