<div class="system-component">
    <h3 ng-if="displayName" class="system-component-title">
        <span>{{ displayName|humanize }}</span>
        <span ng-if="component.icon">
            <span class="fa fa-fw" ng-class="iconClass(component.icon)"></span>
        </span>
        <small ng-include="itemHeaderTemplateUrl"></small>
        <span class="fa fa-list pull-right system-component-more-info-button" ng-click="toggleMoreInfo()" ></span>
    </h3>

    <div ng-show="isMoreInfoVisible" class="system-component-more-info">
        <table class="table table-condensed table-borderless">
            <tr ng-repeat="(key, value) in component" ng-if="value.length > 0">
                <th width="180px"> {{ key|humanize }}</th>
                <td ng-if="isString(value)">{{ value }}</td>
                <td ng-if="isArray(value)">{{ value.join }}</td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="/system-address-item-header.html">
    <span ng-if="component.addressVersion == '4'"> {{component.addressV4}}</span>
    <span ng-if="component.addressVersion == '6'"> {{component.addressV6}}</span>
</script>

<script type="text/ng-template" id="/system-bios-item-header.html">
    {{ component.description }}
</script>

<script type="text/ng-template" id="/system-dns-item-header.html">
    DNS Entry {{ $index + 1 }}
</script>

<script type="text/ng-template" id="/system-hard_drive-item-header.html">
    {{ component.caption }}
</script>

<script type="text/ng-template" id="/system-log-item-header.html">
    {{ component.name }}
    <small> {{ component.fileSize }}KB</small>

</script>

<script type="text/ng-template" id="/system-memory-item-header.html">
    {{ component.capacity }}MB
    <small>{{ component.bank }}</small>
</script>

<script type="text/ng-template" id="/system-monitor-item-header.html">
    {{ component.model }}
</script>

<script type="text/ng-template" id="/system-network_card-item-header.html">
    {{ component.onnectionId }}
    <small>{{ component.macAddress }}</small>

</script>

<script type="text/ng-template" id="/system-optical_drive-item-header.html">
    {{ component.caption }}
    <small> {{ component.mountPoint }}</small>

</script>

<script type="text/ng-template" id="/system-pagefile-item-header.html">
    {{ component.fileName }}
</script>

<script type="text/ng-template" id="/system-partition-item-header.html">
    {{ component.deviceId }}
</script>

<script type="text/ng-template" id="/system-printer-item-header.html">
    {{ component.name }}
    <small> {{ component.hostname }}</small>

</script>

<script type="text/ng-template" id="/system-route-item-header.html">
    <small> {{ component.destination }} - {{ component.protocol }}</small>
</script>

<script type="text/ng-template" id="/system-scsi_controller-item-header.html">
    {{ component.name }}
</script>

<script type="text/ng-template" id="/system-service-item-header.html">
    <span ng-class="{'text-success': component.state == 'Running' && component.startMode == 'Auto',
                     'text-warning': component.state == 'Running' && component.startMode == 'Manual',
                     'text-danger': component.state == 'Stopped' && component.startMode == 'Auto',
                     'text-info': component.state == 'Stopped' && component.startMode == 'Manual',
                     'text-muted': component.state == 'Disabled' && component.startMode == 'Manual'}">
        <span class="fa fa-circle"></span>
    </span>
    <span>{{ component.displayName }}</span>
    <small> {{ component.state }}</small>

</script>

<script type="text/ng-template" id="/system-share-item-header.html">
    {{ component.name }}
    <small>{{ component.path }}</small>

</script>

<script type="text/ng-template" id="/system-software_key-item-header.html">
    {{ component.name }}
    <small> {{ component.text }}</small>

</script>

<script type="text/ng-template" id="/system-software-item-header.html">
    {{ component.name }}
</script>

<script type="text/ng-template" id="/system-sound_card-item-header.html">
    {{ component.name }}
</script>

<script type="text/ng-template" id="/system-user-item-header.html">
    {{ component.name }}
    <small> {{ component.type }}</small>
</script>

<script type="text/ng-template" id="/system-video_card-item-header.html">
    {{ component.description }}
</script>